@page "/Device/Error"
@layout EmptyLayout

<Result Status="warning"
        Title="发生了一些不可预知的错误"
        >
    <Extra>
        <Button Type="primary" OnClick='async ()=> await ToolsJsInterop!.Redirect("/device")'>返回重试</Button>
        <Button OnClick='async ()=> await LayoutInitor!.Logout()'>退出登录</Button>
    </Extra>
</Result>

@code
{
    [Inject]
    private NavigationManager? NavigationManager { get; set; }
    [Inject]
    private ILayoutInitor? LayoutInitor{ get; set; }
    [Inject]
    private ToolsJsInterop? ToolsJsInterop { get; set; }
}